<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Khmelnytskyi Events{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" >
            {% endstylesheets %}
        {% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="{{ url('homepage') }}" class="navbar-brand">KhmEvents</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="{{ url('event_create') }}">Create Event</a></li>
                            <li><a href="{{ url('organizer_create') }}">Create Organizer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        {% block body %}

        {% endblock body %}

        {% block javascripts %}
            {% javascripts 'js/*'  %}
                <script src="{{ asset_url }}"> </script>
            {% endjavascripts %}
        {% endblock javascripts %}

        <footer>
            {% block footer %}
                <div class="custom-footer">
                    <div>
                        <p>
                            Developed by Svatku Team.
                            Code released under the <a href="https://github.com/LogansUA/hackathon/blob/develop/LICENSE">MIT License</a>.
                        </p>
                        <p>
                            Based on <a href="http://bootswatch.com/" rel="nofollow">Twitter Bootstrap</a>.
                        </p>
                        <p>
                            Powered by
                            <a href="http://symfony.com/">Symfony</a>
                        </p>
                    </div>
                </div>
            {% endblock footer %}
        </footer>
    </body>
</html>
