{% extends 'base.html.twig' %}

{% block body %}
    <header>
        Khmelnytskyi Events

        <a href="{{ url('event_create') }}">Create Event</a>
        <a href="{{ url('organizer_create') }}">Create Organizer</a>
    </header>

    <table align="center" style="text-align: center; width: 60%">
        <caption>Events of Khmelnytskyi city</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Datetime</th>
                <th>price</th>
            </tr>
        </thead>
        <tbody>
            {% for event in event_list %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.datetime|date("d/m/Y H:m") }}</td>
                    <td>
                        {% if event.price is not empty %}
                            {{ event.price }}
                        {% else %}
                            Free
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
